.button {
  display: inline-block;
  padding: 10px 35px;
  vertical-align: middle;
  box-sizing: border-box;

  font-size: 28px;
  line-height: 22px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 600;
  text-align: center;
  color: $black;

  background-image: linear-gradient($grad-but1, $grad-but2);
  border-radius: 40px;
  box-shadow: 0 0 0 5px $yellow;
  border: 3px solid $light-yellow;
  transition: all 0.07s linear;
  cursor: pointer;
}
