.desc {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/line-blue.png");
    width: 50px;
    height: 3px;
    left: 0px;
    top: -20px;
  }
}


.desc__text {

  font-size: 18px;
  line-height: 28px;
}

.desc--list {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/line-green.png");
    width: 20px;
    height: 3px;
    left: 0px;
    top: 0px;
  }
}
