body {
  margin: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $black;
}

h2 {
  margin: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 48px;
  line-height: 48px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.wrap {
  width: 100%;
  padding-top: 50px;

  background-image: url("../img/back.png");
  background-size: cover;
}

.box {
  width: 100%;
  padding-top: 50px;
}

.orange-text {
  color: $orange;
}

.green-text {
  color: $light-green;
}

.green-underline {
 background-image: linear-gradient(to right, $light-green 75%, transparent 75%);
 background-position: 0 1.04em;
 background-repeat: repeat-x;
 background-size: 1px 7px;
}

.orange-underline {
 background-image: linear-gradient(to right, $orange 75%, transparent 75%);
 background-position: 0 1.04em;
 background-repeat: repeat-x;
 background-size: 1px 7px;
}

@media (max-width: 850px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
}
