body {
  margin: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $black;
}

h2 {
  margin: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 48px;
  line-height: 48px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.wrap {
  width: 100%;
  padding-top: 50px;
  margin-bottom: 50px;

  background-color: $gray;
}
