.info-list {
  @include reset-list;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  text-align: left;
}

.info-list__item {
  max-width: 345px;
  width: 100%;
  margin: 0 auto;
}

.info-list__caption {
  font-size: 22px;
  line-height: 26px;
}

.info-list__item-header {
  margin-bottom:  35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-list__box-img {
  margin-right: 15px;
}
