.info {
  position: relative;

  padding: 25px 45px 25px 45px;

  box-sizing: border-box;
  border: 3px $light-orange solid;
  border-radius: 10px;

  &::before {
    content: "Вывод:";
    position: absolute;
    left: 42%;
    top: -33px;

    max-width: 170px;
    padding: 15px 40px 15px 40px;
    width: 100%;


    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;

    background-image: url("../img/icon-exclamation.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.info--stats {
  padding-top: 40px;

  &::before {
    content: "";

    position: absolute;
    left: 42%;
    top: -18px;

    max-width: 170px;
    padding: 15px 40px 15px 40px;
    width: 100%;
    height: 37px;

    background-image: url("../img/graphic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $white;
  }

}

.info__text {
  margin: 0;

  font-size: 22px;
  line-height: 28px;
}

@media (max-width: 890px) {
  .info {

    &::before {
      background-color: $gray-note;
    }
  }

  .info--stats {

    &::before {
      background-color: $white;
    }
  }

}

@media (max-width: 680px) {
  .info--stats {
    &::before {
      left: 38%;

    }
  }
 .info {
   &::before {
     left: 38%;

   }
 }
}

@media (max-width: 550px) {
  .info--stats {
    &::before {
      left: 34%;
    }
  }

 .info {
   &::before {
     left: 34%;
   }
 }
}

@media (max-width: 450px) {

  .info--stats {
    &::before {
      left: 30%;
    }
  }

 .info {
   &::before {
     left: 30%;
   }
 }
}

@media (max-width: 380px) {

  .info--stats {
    &::before {
      left: 25%;
    }
  }

 .info {
   &::before {
     left: 25%;
   }
 }
}

@media (max-width: 330px) {

  .info--stats {
    &::before {
      left: 20%;
    }
  }

 .info {
   &::before {
     left: 20%;
   }
 }
}
