.logo {
  font-weight: 500;

  &::before {
    content: "";
    position: absolute;
    left: -110px;
    top: -10px;

    width: 92px;
    height: 65px;

    background-image: url("../img/icon-block-double.png");
  }
}

@media (max-width: 1000px)  {
  .logo__text {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (max-width: 830px) {
  .logo__text {
    font-size: 45px;
    line-height: 5px;
  }
}

@media (max-width: 425px) {
  .logo {
    &::before {
      left: 82px;
      top: 30px;
    }
  }
}
