.section {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.section--left {
  max-width: 400px;

  align-items: flex-start;
  justify-content: flex-start;

  text-align: left;
}
