.site-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  text-align: left;
}

.site-list__item {
  position: relative;

  margin-bottom: 45px;

  box-sizing: border-box;

  &:nth-child(1) {
    &::before {
      content: "";
      position: absolute;
      left: -80px;
      top: 6px;

      width: 60px;
      height: 60px;

      background-image: url("../img/icon-promo1.png");
    }
  }

  &:nth-child(2) {
    &::before {
      content: "";
      position: absolute;
      left: -80px;
      top: 5px;

      width: 60px;
      height: 60px;

      background-image: url("../img/icon-promo2.png");
    }

    &::after {
      content: "";
      position: absolute;
      left: -55px;
      top: -32px;

      width: 9px;
      height: 146px;

      background-image: url("../img/line-promo.png");
    }
  }

  &:nth-child(3) {
    &::before {
      content: "";
      position: absolute;
      left: -80px;
      top: 21px;

      width: 60px;
      height: 60px;

      background-image: url("../img/icon-promo3.png");
    }
  }
}

.section--order .site-list__item:last-child {
  margin-bottom: 29px;
}

.site-list--guide {
  flex-direction: column;
}

.site-list--guide .site-list__item {
  position: relative;

  padding: 37px 0 37px 0;
  margin: 0;

  display: flex;
  align-items: center;

  &:nth-child(1) {
    &::before {
      content: "";
      position: absolute;
      left: -160px;
      top: 6px;

      width: 135px;
      height: 135px;

      background-image: url("../img/icon-how1.png");
    }
  }

  &:nth-child(2) {
    &::before {
      content: "";
      position: absolute;
      left: -160px;
      top: 5px;

      width: 135px;
      height: 135px;

      background-image: url("../img/icon-how2.png");
    }
  }

  &:nth-child(3) {
    &::before {
      content: "";
      position: absolute;
      left: -160px;
      top: 21px;

      width: 135px;
      height: 135px;

      background-image: url("../img/icon-how3.png");
    }
  }
}

@media (max-width: 615px) {
  .site-list--guide {
    margin-left: 50px;
  }

  .site-list--guide .site-list__item {

    margin-bottom: 70px;

    display: flex;
    align-items: center;

    &:nth-child(1) {
      &::before {
        left: 25px;
        top: 115px;
      }
    }

    &:nth-child(2) {
      &::before {
        left: 25px;
        top: 115px;
      }
    }

    &:nth-child(3) {
      &::before {
        left: 25px;
        top: 115px;
      }
    }
  }
}
