$black: #000000;
$white: #ffffff;
$orange: #f64d01;
$green: #62bd1f;
$orange: #f64d01;
$light-orange: #F4D3BB;
$yellow: #FFBF02;
$light-yellow: #FFD34E;
$light-green: #a8ca3f;
$light-gray: #666666;
$head: #F4F9FF;
$gray: #EFF8FA;
$gray-note: #ECF7F8;
$shadow: #7c7c7c;
$grad-but1: #ffbc02;
$grad-but2: #ffce02;
